node_modules/
build/
binary_data/temporal/
binary_data/persistent/
install_distribution/
deploy/
.deploy.json
.env.bootstrap
.env.log
.env.secrets
temp/tmp-*
temp/dsistemas01/
temp/undefined/
data/dsistemas01/
data/undefined/
logs/
test/standalone/result/dsistemas01/
jobs/input/job-*
jobs/output/job-*
jobs/input/undefined*
jobs/output/undefined*
jobs/undefined/
tasks/input/task-*
tasks/output/task-*
tasks/input/undefined*
tasks/output/undefined*
tasks/undefined/
config_backup/*
command.json
bot_config.json
